{% extends 'base.html.twig' %}

{% block body %}

<div class="first-section wow fadeIn" id="first-section">	
    <div class="container">
	    <div class="row">
		    <div id="headline">
   			    <h2>THANK YOU FOR SUBMITTING</h2>
   			    </br>
   			    <p>We will get back to you as soon as possible.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block head %}

<meta http-equiv="refresh" content="3; url={{ path('home') }}" />

{% endblock %}